body {
    background-color: #333d3c;
    font-family: Arial, sans-serif;
    color: #ffffff;
    justify-items: center;

}

form {
    display: flex;
    flex-direction: column; 
    align-items: center;    
}

form input, form label {
    width: 200px;          
    margin-bottom: 10px;   
}

form button {
    width: 100px;   
    height: 50px;      
    padding: 5px;
}
