{% load static %}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'feed/css/style.css' %}">
    <title></title>
</head>


<body style="background-color: #333d3c">
    <h1 style="text-align: center; color: #eae6dc">Your Feed</h1>
    <p></p>
    <img src="{% static 'feed/images/logo.png' %}" alt="Picture of our logo" width="80" style="position: absolute; top: 0px; left: 0px;">
    
<nav class="navbar">
<a href="/" class="nav-item">Feed</a>
<a href="/My-Profile/" class="nav-item">My Profile</a>
<a href="/Search/" class="nav-item">Search</a>
{%include 'reviews/search_results.html'%}
<a href="/Friends/" class="nav-item">Friends</a>
</nav>

<div class="top-rectangle"></div>


    <ul>
        {% for x in myReviews %}
    <li>
        <img src="{{ x.cover_art }}" width="100"> -

        
        {{ x.game }} -
        
        Play time: {{ x.playtime }} -
        {{ x.title }} -
        {{ x.body }} -
        {{ x.created_at }}
    </li>
{% endfor %}
    </ul>

</body>
</html>