body {
    background-color: #333d3c;
    color: #f0e9d2;
    font-family: Arial, sans-serif;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly; /* or space-around, or space-evenly */
  background-color: transparent;
  align-items: center;
  padding: 15px 30px; /* horizontal padding to add space at edges */
  margin-top: -15px; 
  
}

.top-rectangle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 110px; /* same as navbar height */
  background-color: #555; /* pick any color */
  z-index: -1; /* behind navbar */
}

html, body {
  margin: 0;
  padding: 0;
  
}

header {
  margin: 0;  /* Remove margin */
  padding: 10px 0; /* Optional padding for spacing */
}

img, div, nav, section {
  max-width: 100%;
  box-sizing: border-box;
}

.horizontal-scroll-container {
    display: flex; /* Lays out children (the cards) in a row */
    overflow-x: auto; /* Adds a horizontal scrollbar ONLY when needed */
    gap: 20px; /* Sets the space between each card */
    padding-bottom: 15px; /* Adds space below the scrollbar */
    
}
